.IcoBlock{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10.989px;
    border: 0.22px solid rgba(255, 255, 255, 0.10);
    background: #FFF;
    backdrop-filter: blur(9.230769157409668px);
}