.InfoBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &_Logo{
        width: 60px;
        height: 60px;   
    }
    &_Title{
        font-size: 28px;
        font-weight: 500;
        margin-top: 22px;
        word-break: normal;
    }
    &_Content{
        font-size: 16px;
        font-weight: 300;
        color: #CCE0FF;
        margin-top: 16px;
    }
}